*, *::before, *::after {
    padding: 0;
    margin: 0;
    outline: none;
    user-select: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ul li, nav, nav li {
    list-style-type: none;
}

body {
    font-size: 18px;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #f6f7fa;
    -ms-overflow-x: hidden;
    overflow-x: hidden;

}

main {
    -ms-overflow-x: hidden;
    overflow-x: hidden;
}

h2 {
    font-size: 60px;
    font-weight: 100;
    color: #0e1a35;
    line-height: 1.2;
}

p {
    font-size: 18px;
    color: #8492af;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    transition: color linear 200ms, background-color linear 200ms;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 0 20px;
}

/* ------> Header <------ */
.page-header {
    position: fixed;
    width: 100%;
    padding: 30px 20px;
    z-index: 5;
    transition: background-color ease 100ms;
}

.page-header.fixed {
    background-color: #0e1a35;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    width: 100%;
    max-width: 1700px;
}

.header-brand {
    display: inline-block;
}

.header-brand img {
    width: 234px;
}

.nav-item {
    display: inline-block;
    margin-right: 48px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: #ffffff;
    transition: color linear 200ms;
}

.nav-link:hover {
    color: #5584ff;
}

.nav-link.btn {
    padding: 13px 42px;
    border-radius: 25px;
    color: #5584ff;
    border-color: #5584ff;
    transition: color linear 200ms, background-color linear 200ms;
}

.btn.nav-link:hover {
    color: #ffffff;
    background-color: #5584ff;
}

.mobile-btn {
    display: none;
}
/* ------> Header End <------ */

/* ------> Home <------ */
.page-home {
    width: 100%;
    height: 100vh;
    min-height: 768px;
    max-height: 1080px;
    background-color: #0e1a35;
}

.home-layout {
    width: 100%;
    height: 100%;
    background-image: url('../img/home-layout.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-container {
    padding-top: 240px;
    text-align: center;
}

.home-title {
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    line-height: 1.2;
}

.home-subtitle {
    margin-top: 10px;
    display: block;
    font-size: 36px;
    color: #8492af;
}

.home-btn {
    display: block;
    max-width: 220px;
    margin: 60px auto;
    font-weight: 700;
    padding: 15px 50px;
    border-radius: 25px;
    color: #5584ff;
    border-color: #5584ff;
}

.home-btn:hover {
    color: #fff;
    background-color: #5584ff;
}
  
.home-screen {
    height: 80%;
    box-shadow: 0px -20px 80px 20px rgba(39, 71, 144, .4);
}
/* ------> Home End <------ */

/* ------> Features <------ */
.page-features {
    padding: 300px 0;
    min-height: 1600px;
}

.feature-items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.feature-items_item {
    width: 360px;
    text-align: center;
}

.feature-items_title {
    margin: 50px 0 20px;
    font-size: 24px;
    font-weight: 900;
    color: #0e1a35;
}

.feature-items_btn {
    margin-top: 50px;
    border-radius: 25px;
    padding: 15px 85px;
    border-color: #dadee7;
    color: #0e1a35;
}

.feature-items_btn:hover {
    background-color: #dadee7;
}

.features-info {
    position: relative;
    margin-top: 200px;
}

.features-info p {
    margin-top: 40px;
    max-width: 600px;
}

.info-list {
    margin-top: 40px;
}

.info-list li {
    position: relative;
    margin-top: 20px;
    margin-left: 48px;
    font-size: 16px;
    font-weight: 700;
    color: #5584ff;
}

.info-list li::before {
    position: absolute;
    top: -3px;
    left: -48px;
    content: ' ';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/check.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feature-screen {
    position: absolute;
    top: -100px;
    right: -550px;
}
/* ------> Features End <------ */

/* ------> Workflow <------ */
.page-workflow {
    position: relative;
    min-height: 560px;
    background-color: #0e1a35;
}

.workflow-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/workflow-layout.png');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: contain;
}

.workflow-container {
    display: flex;
    align-items: center;
}

.workflow-screen {
    width: 50%;
}

.workflow-slider {
    width: 50%;
}

.workflow-slider h2 {
    color: #ffffff;
}

.workflow-slider p {
    margin-top: 40px;
    max-width: 600px;
}

.slider-track {
    position: relative;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
    animation-name: fadeIn;
    animation-duration: .4s;
}

.slider-nav {
    margin-top: 40px;
}

.slider-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    border-color: #a5aec3;
}

.slider-arrow svg {
    fill: #a5aec3;
    transition: fill ease-in 200ms;
}

.slider-arrow:hover {
    background-color: #a5aec3;
}

.slider-arrow:hover svg {
    fill: #0e1a35;
}
/* ------> Workflow End <------ */

/* ------> App <------ */
.page-app {
    padding: 100px 0;
    text-align: center;
}

.app-container > p {
    margin: 40px auto 0;
    max-width: 80%;
}

.app-content {
    position: relative;
    padding-top: 150px;
}

.app-popup {
    position: absolute;
    text-align: left;
    max-width: 280px;
}

.app-popup hr {
    display: none;
}

.app-popup p {
    margin-top: 40px;
}

.app-popup img {
    position: absolute;
    width: 600px;
}

.app-popup_left {
    top: 220px;
    left: 0;
}

.app-popup_left img {
    left: 0;
}

.app-popup_right {
    right: 0;
    bottom: 180px;
    text-align: right;
}

.app-popup_right img {
    right: 0;
}
/* ------> App End <------ */

/* ------> Pricing <------ */
.page-pricing {
    padding: 140px 0 100px;
    text-align: center;
}

.pricing-box {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.pricing-box_item {
    width: 380px;
    padding: 50px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
}

.pricing-box h3 {
    margin-bottom: 40px;
    font-size: 24px;
    color: #0e1a35;
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box_price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 72px;
    font-weight: 700;
    color: #0e1a35;
}

.pricing-box_price sub {
    font-size: 24px;
}

.pricing-box_price sub:last-child {
    color: #8492af;
}

.pricing-box_list {
    margin-top: 30px;
    margin-left: 24px;
}

.pricing-box_list li {
    position: relative;
    font-size: 16px;
    margin: 20px 0;
    color: #8492af;
}

.pricing-box_list li::before {
    position: absolute;
    top: -3px;
    left: -32px;
    content: ' ';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/uncheck.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pricing-box_list .available::before {
    background-image: url('../img/check.png');
}

.page-pricing p {
    margin: 100px auto 20px;
    max-width: 80%;
}

.pricing-btn {
    position: relative;
    display: block;
    max-width: 220px;
    margin: 60px auto;
    font-weight: 700;
    padding: 15px 50px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #5584ff;
    border-color: #5584ff;
}

.pricing-btn:hover {
    background-color: #4269ca;
}

.pricing-btn::before {
    position: absolute;
    top: 50%;
    left: -120%;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #8492af;
}

.pricing-btn::after {
    position: absolute;
    top: 50%;
    right: -120%;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #8492af;
}
/* ------> Pricing End <------ */

/* ------> Footer <------ */
.page-footer {
    height: 150px;
    background-color: #0e1a35;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8492af;
}

.footer-link {
    position: relative;
    color: #8492af;
}

.footer-link svg {
    position: absolute;
    top: 2px;
    left: -25px;
    fill:#8492af;
}
/* ------> Footer End <------ */


/* ------> Laptops <------ */
@media screen and (max-width: 1439px) {
    h2 {
        font-size: 55px;
    }

    /* ------> Header <------ */
    .page-header {
        padding: 20px 10px;
    }
    /* ------> Header End <------ */
    
    /* ------> Features <------ */
    .feature-items_item {
        width: 310px;
    }
    
    .features-info p {
        margin-top: 40px;
        max-width: 50%;
    }
    
    .feature-screen {
        position: absolute;
        top: -100px;
        right: -800px;
    }
    /* ------> Features End <------ */
    
    /* ------> App <------ */
    .app-screen {
        width: 900px;
    }
 
    .app-popup {
        position: absolute;
        text-align: left;
        max-width: 25%;
    }

    .app-popup img {
        width: 180%;
    }
    
    .app-popup_left {
        top: 190px;
    }
    
    .app-popup_right {
        text-align: right;
        bottom: 100px;
    }
    /* ------> App End <------ */
    
    /* ------> Pricing <------ */
    .pricing-box_item {
        width: 300px;
        padding: 30px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
    }
    /* ------> Pricing End <------ */
}
/* ------> Laptops End <------ */

/* ------> Tablet <------ */
@media screen and (max-width: 1023px) {
    h2 {
        font-size: 55px;
    }
    /* ------> Header <------ */
    .page-header {
        padding: 15px 10px;
    }

    .nav-item {
        margin-right: 20px;
    }
    /* ------> Header End <------ */

    /* ------> Home <------ */
    .home-container {
        padding-top: 200px;
    }

    .home-title {
        font-size: 50px;
    }

    .home-screen {
        width: 80%;
        max-width: 700px;
        height: auto;
    }
    /* ------> Home End <------ */

    
    /* ------> Features <------ */
    .page-features {
        padding: 30% 0 100px;
    }
    .feature-items {
        justify-content: center;
        flex-wrap: wrap;
    }

    .feature-items_item {
        margin: 20px 10px; 
    }

    .features-info {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .features-info p {
        max-width: 80%;
    }
    
    .feature-screen {
        position: static;
        margin-top: 40px;
        width: 100%;
    }
    /* ------> Features End <------ */
    
    /* ------> Workflow <------ */
    .slide h2 {
        font-size: 40px;
    }

    .workflow-slider p {
        margin-top: 20px;
        max-width: 100%;
    }
    /* ------> Workflow End <------ */
    
    /* ------> App <------ */
    .page-app {
        padding: 50px 0;
    }
    .app-screen {
        width: 700px;
    }

    .app-popup {
        position: absolute;
        text-align: left;
        max-width: 30%;
    }

    .app-popup p {
        font-size: 16px;
    }

    .app-popup img {
        width: 170%;
    }
    
    .app-popup_left {
        top: 135px;
    }
    
    .app-popup_right {
        text-align: right;
        bottom: 45px;
    }
    /* ------> App End <------ */
    
    /* ------> Pricing <------ */
    .pricing-box {
        flex-direction: column;
        align-items: center;
    }

    .pricing-box_item {
        margin: 20px 0;
        width: 300px;
        padding: 30px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
    }
    
    /* ------> Pricing End <------ */
}
/* ------> Tablet End <------ */

/* ------> Mobile <------ */
@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    h2 {
        font-size: 26px;
        font-weight: 400;
    }

    h3 {
        font-size: 20px !important;
    }

    p {
        font-size: 16px;
    }
    /* ------> Header <------ */
    .header-brand img {
        width: 124px;
    }

    .page-nav {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 225px;
        left: 0;
        background-color: #0e1a35;
        z-index: -1;
        height: 0px;
        overflow: hidden;
        transition: height ease-in 200ms;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .page-nav.active {
        height: 225px;
    }
    
    .nav-item {
        text-align: center;
        height: 45px;
        width: 100%;
        border-top: 1px solid #a5aec3;
        padding: 10px 0;
    }

    .nav-link.btn {
        border: none;
        padding: 0;
        border-radius: 0px;
        color: #fff;
    }
    
    .nav-item:last-child {
        border-bottom: 1px solid #a5aec3;
    }
    
    .nav-link {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .btn.nav-link:hover  {
        color: #5584ff;
        background-color: transparent;
    }

    .mobile-btn {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;     
    }

    .mobile-btn span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        transition: transform ease-in 200ms;   
    }

    .mobile-btn span:nth-child(2) {
        margin: 5px 0;
    }

    .mobile-btn.active span {
        position: absolute;
    }

    .mobile-btn.active span:nth-child(1) {
        transform: rotate(45deg);
    }

    .mobile-btn.active span:nth-child(2) {
        visibility: hidden;
    }

    .mobile-btn.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
    /* ------> Header End <------ */

    /* ------> Home <------ */
    .page-home {
        min-height: 568px;
    }

    .home-layout {
        background-position: 50% 40%;
    }

    .home-container {
        padding-top: 150px;
    }
    .home-title {
        font-size: 30px;
    }

    .home-subtitle {
        font-size: 20px;
    }

    .home-screen {
        margin-top: 5vh;
        width: 90%;
        margin-bottom: 10px;
    }
    /* ------> Home End <------ */

    /* ------> Features <------ */
    .features-info h2 {
        text-align: center;
    }

    .features-info p {
        margin: 20px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    /* ------> Features End <------ */

    /* ------> Workflow <------ */
    .page-workflow {
        height: auto;
        min-height: initial;
    }

    .workflow-container {
        height: auto;
    }

    .workflow-layout {
        position: relative;
        height: auto;
        background-position: 50% 50%;
    }

    .workflow-container {
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .workflow-screen {
        width: 90%;
    }

    .workflow-slider {
        width: 90%;
    }

    .workflow-slider h2 {
        font-size: 30px;
    }

    .workflow-slider p {
        max-width: 500px;
    }

    .slider-nav {
        margin-top: 20px;
    }
    /* ------> Workflow End <------ */

    /* ------> App <------ */
    .page-app {
        padding: 50px 0;
        text-align: center;
    }

    .app-container > p {
        font-size: 14px;
        max-width: 500px;
    }

    .app-content {
        position: relative;
        padding-top: 150px;
        min-height: 400px;
    }

    .app-screen {
        width: 100%;
    }

    .app-popup {
        position: absolute;
        text-align: left;
        width: 50%;
        max-width: 250px;
    }

    .app-popup h3 {
        font-size: 12px !important;
    }

    .app-popup p {
        margin-top: 20px;
        font-size: 12px;
    }

    .app-popup img {
        display: none;
    }

    .app-popup hr {
        position: absolute;
        margin-top: 10px;
        border: none;
        display: block; 
        width: 60%;
        height: 2px;
        background-color: #5584ff;
    }

    .app-popup_left {
        top: 40px;
        left: 0;
    }

    .app-popup_left hr {
        left: 0;
    }

    .app-popup_right {
        right: 0;
        bottom: 20px;
        text-align: right;
    }

    .app-popup_right hr {
        right: 0;
    }
    /* ------> App End <------ */

    /* ------> Pricing <------ */
    .page-pricing {
        padding: 50px 0 20px;
        text-align: center;
    }

    .pricing-box h3 {
        font-size: 20px;
    }

    .pricing-box_price {
        font-size: 56px;
    }

    .page-pricing p {
        font-size: 14px;
        width: 100%;
        max-width: 500px;
    }
    /* ------> Pricing End <------ */

    /* ------> Footer <------ */
    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        color: #8492af;
    }
    /* ------> Footer End <------ */
}
/* ------> Mobile End <------ */

